h1{
  color :brown
}

form {

    font: sans-serif;
    font-display: bold;
    font-size: medium;
    max-width: 320px;
    color: blue;
    
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0; 
  }
  input[type=submit] {
    background-color: greenyellow;
    border: black;
    font-size: medium;
    font-display: bold;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor:pointer;
  }
  

  