body { 
    background: rgb(63,251,236);
background: radial-gradient(circle, rgba(63,251,236,1) 0%, rgba(70,95,252,1) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }

#todo-container {
    background: lightgreen;
    width: 1000px;
    margin: 0 auto;
    border: 2px ;
    padding: 20px;
    color: darkgreen;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
    color:black;
}
  
h1 {
    margin-bottom: 20px; 
}
  
#input-box {
    width: 800px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  #input-button {
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: violet;
    width : 100px ;
  }
  
  #input-button:hover {
    background-color: #9eb7fd; 
  }

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;
    color :black;
  
}
  
li {
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  
}
  
.delete-btn {
    float: right;
    color:white ;
    font-weight: bolder;
    font-display: bold;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: red;
    
  } 
  .edit-btn {
    float: right;
    color:white ;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: blue;
  }

  
.completed {
    text-decoration: line-through;
    color:green;
    border: 1px solid gray;
    box-shadow: 0 1px #666;
    transform: translateY(2px)
    
  }
